* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header {
    background-color: #8250ff;
}

.header > div {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: black;
}

.header > div > h1 {
    color: white;
}